.main-content {
    padding: 20px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.main-content > select {
    width: 20%;
    padding: 10px;
}
.main-content button{
    width: 10%;
    padding: 10px;
}
.main-content > label {
    width: 30%;
    padding: 10px;
    display: block
}

@media screen and (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }
    select, button {
        width: 100% !important;
        margin: 5px 0;
    }
}